<a href="https://colab.research.google.com/github/AaronVergara/aaronv/blob/master/ARIMA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Time Series with ARIMA

In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Step 1: Read the data

In [2]:
from gspread_dataframe import get_as_dataframe, set_with_dataframe
import gspread

In [3]:
# Authenticate our Gsheet in GCollab
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [28]:
sheet1 = gc.open_by_url('https://docs.google.com/spreadsheets/d/1T4Ty_OVzuXUg0wLGS_t8vOIx5pZ8lR0Lg0aNwfRmt_Y/edit#gid=0')

In [25]:
ws = sheet1.worksheet('Sheet1')

In [21]:
df = get_as_dataframe(ws)
df = df.reset_index()

In [39]:
df.head()

   index Date_reported Country_code  ... Unnamed: 23 Unnamed: 24  Unnamed: 25
0      0        1/3/20           PH  ...         NaN         NaN          NaN
1      1        1/4/20           PH  ...         NaN         NaN          NaN
2      2        1/5/20           PH  ...         NaN         NaN          NaN
3      3        1/6/20           PH  ...         NaN         NaN          NaN
4      4        1/7/20           PH  ...         NaN         NaN          NaN

[5 rows x 27 columns]

Step 2:resample

In [44]:
ts=df['New_cases'].resample('MS').sum()

TypeError: ignored